<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/bork_favicon_plain.png" />
		<link rel="icon" href="/bork_favicon_plain.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jame Bryant</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 768px) {
		html,
		body {
			margin: 0;
			width: 100%;
			height: auto;
		}
	}
</style>
